{{!-- template for users' individual dashboards where they can see all of their previous posts --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
  <div class="col-md-6 post-list">
{{!-- will only render posts if there are any --}}
    {{#if BlogPosts.length}}
    <h3>My Posts:</h3>

{{!-- iterates over BlogPosts array and renders each post --}}
    {{#each BlogPosts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
 {{!-- options to delete or update posts, although the update button currently has no functionality--}}
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete</button>
        <button class="btn btn-sm btn-primary">Update</button>
      </div>
    </div>
    {{/each}}
     {{/if}}
  </div>
  {{!-- form to create new posts that will automatically populate above --}}
  <h4>Create a New Post:</h4>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="project-name" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post Content:</label>
        <input class="form-input" type="text" id="project-desc" name="post-content" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>
